<%- include('homeHeader'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hey Everyone, This is Ozair Qayam here.. I am a Blogger, Web Developer (MERN Stack),a Competetive Programmer and An Artist.</p>
                        <p>I Loves to Design and Develop new Websites.. Learning to create something new. I am currently learning REACT framework.</p>
                        <p>I worked on several Projects. For This WebApp I used HTML, CSS, JS and Bootstrap for Frontend and Used Node.js with Express for routing and Rendering the data with ejs as Backend, I used MongoDB for Database Management and AWS as a cloud Space.
                        This Site will Provide you a Platform to write your Blogs so that It may reached to many people</p>
                    </div>
                </div>
            </div>
        </main>
<%- include('footer') -%>